<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Css/section.css">
</head>
<body>
    <section class="movie-section">
        <h2>New Releases</h2>
        <div class="movie-list">
              <img src="/images/movie1.jpeg" alt="movie 1" class="movie">
              <img src="/images/movie2.jpeg" alt="movie 2" class="movie">
              <img src="/images/movie18.jpeg" alt="movie 16" class="movie">
              <img src="/images/movie4.jpeg" alt="movie 4" class="movie">
              <img src="/images/movie5.jpeg" alt="movie 5" class="movie">
              <img src="/images/movie6.jpeg" alt="movie 6" class="movie">
              <img src="/images/movie18.jpeg" alt="movie 16" class="movie">
              <img src="/images/movie8.jpg" alt="movie 8" class="movie">
              <img src="/images/movie9.jpg" alt="movie 9" class="movie">
              <img src="/images/movie10.jpg" alt="movie 10" class="movie">
              <img src="/images/movie18.jpeg" alt="movie 16" class="movie">
              <img src="/images/movie13.jpeg" alt="movie 12" class="movie">
              <img src="/images/movie14.jpeg" alt="movie 13" class="movie">
              <img src="/images/movie16.jpeg" alt="movie 14" class="movie">
              <img src="/images/movie17.jpeg" alt="movie 15" class="movie">
              <img src="/images/movie18.jpeg" alt="movie 16" class="movie">
          </div>
    </section>
    
</body>
</html>